@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* global styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
  
}
body{
  width: 100%;
  height: 100%;
  /* background-image:linear-gradient(rgb(0,0,0,0.75),rgb(0,0,0,0.75)),url("bg.png"); */
  /* background-size: cover; */
  /* background-position: center; */
  position: relative;
  
}
button{
  margin-top: 30px;
  font-size: 14px;
  padding: 15px;
  border-radius: 20px;
  border: none;
  background-color: #000;
  color: #ffff;
  width: 150px;
}
h1 {
  font-size: 50px;
  text-align: center;
  justify-content: center;
  color:#FFFFF0;
  width: 600px; 
  padding: 20px 40px; 
}
.row1{
  display: flex;
  flex-direction: row;
  /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06); */
  /* padding: 20px; */
}
.row1 .bg1{
  height:250px;
  width:280px;
  padding: 50px ;
  border-radius: 5px;
  background-color: #FFFFF0;
  background-image:linear-gradient(rgba(118, 10, 10, 0.75),rgb(0,0,0,0.75)),url('profile.jpg');
  background-size: cover;
  background-position: center;
  opacity:0.75;
  /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06); */
  margin: 10px;
}
.bg1 h1 {
  color: aqua;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  padding: 60px 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);

}
.page22{
  /* background-image: url('benjamin-voros-phIFdC6lA4E-unsplash.jpg'); */
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image:linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)),url("benjamin-voros-phIFdC6lA4E-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #f0f0f0; /* Light color as a fallback and to make text more readable */
  color: #333; /* Text color */
}
.page23{
  /* background-image: url('benjamin-voros-phIFdC6lA4E-unsplash.jpg'); */
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image:linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)),url("https://images.unsplash.com/photo-1580137189272-c9379f8864fd?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #f0f0f0; /* Light color as a fallback and to make text more readable */
  color: #333; /* Text color */
}
/* page2---------------->*/
.main-box{
padding: 100px;
justify-content: center;
align-items: center;
display:flex;
flex-direction: column;

}
.main-box-2{
  padding: 60px;
  display: flex;
  flex-direction: row;
  padding: 10px 40px;
  box-sizing: border-box;
  
}
.img1{
  /* background-color: aqua; */
  width: 250%;
  height: 250%;
  border-radius: 20px;
}
.img1 img{
padding: 50px 0px;
height: 100%;
width: 100%;
border-radius: 20px;
border: none;

}
.content {
  color: #000;
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  padding-left: 60px;
  font-family:'Times New Roman', Times, serif;
}
.content h3{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.ab{
  color: #FFFFF0;
  font-size: 50px;
}
.tg{
  color: #FFFFF0;
  font-size: 20px;
}

.tg{
  /* font-size: 18px;
  color: aqua;
  padding: 100px;
justify-content: center;
align-items: center;
display:flex;
flex-direction: column; */
}

.profile h3 {
  font-size: 30px;
  line-height: 54px;
  color:#000;
  font-family: cursive;
}
.profile img{
  height: 230px;
  width: 230px;
}
.profile h4 {
  font-size: 20px;
  color: #000;
  width: 400px; 
  text-align: center;
  justify-self: center;
}
h6 {
  font-weight: 700;
  font-size: 12px;
}

/* header styles */

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color:white; */
  padding: 10px 80px;
  /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06); */
  z-index: 999;
  position:fixed;
  left: 0;
  right: 0; 
}

.header-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
 .header-list-nav ul {
   display: flex; 
 } 
.header-list-nav ul li {
  list-style-type: none;
  padding: 0 20px;
  position: relative;
}
.header-list-nav ul a {
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  color: #000;
  transition: 0.3s ease;
}
  .header-list-nav ul a:hover,
.header-list-nav ul a.active {
  color: #FFFFF0;
  content: "";
} 

.header-list-icon a {
  color: #1a1a1a;
  padding-left: 20px;
  transition: 0.3s ease;
}
.header-list-icon a:hover,
.header-list-nav ul a.active {
  /* color: #088178; */
  color: #FFFFF0;
}
.header-list-nav ul li a:hover::after,
.header-list-nav ul li a.active::after {
  content: "";
  /* width: 30%; */
  height: 2px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
} 

.profile{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 120px;
  flex-direction: column;
}

/* @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap'); */

/* Additional Touch-Ups */
h1,h2,h3,h4,h5,p {
  font-family: 'Work Sans', sans-serif;
}
.cardss
{
  /* background-color: #1f1f1f; */
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-direction: row;
  align-items: centr;
}

img {
  height: auto;
  width: 50%;
  height:70%;
  /* border-radius: 20px; */
}
.inner-card{
  display: flex;
  flex-direction: column;
  width: 128%;
  
}
/* Additional Touch-Ups */

/* Material Web Card */
/* Block */
.material-card {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background-color:#ffff;
  /* border-color: #000; */
  width: 500px;
  height:300px;
  min-width: 200px;
  color: white;
  text-decoration: none;
  flex-direction: row;
  /* border-radius: 30px; */
  cursor: pointer;
  transition: 200ms cubic-bezier(.2,0,0,1);
}

/* Elements */
.card-picture {
/*   border-radius: 30px; */
  width: 100%;
  height: 80%;
  transition: 200ms cubic-bezier(.2,0,0,1);
}

.price{
  color: #ffff;
  background-color:#002244;
  justify-content: left;
  /* align-items: left; */
  /* margin-left: 30px; */
  display: flex;
  padding-top: 20px;
  width: 100%;
  height:20%;
}
.price h3{
  color: #ffff;
  margin-left: 30px;
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card-info {
  padding:  20px ;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}

.card-title {
  color: #000;
  font-family: cursive;
  font-style: italic;
  font-weight: 600;

}

.card-desc {
  color: #000;
  font-family: cursive;
  font-style: italic;
  font-weight: 600;
}

/* Modifiers */
.material-card:active {
/*   border-radius: 50px; */
  /* background-color: #004a77; */
}

.card-picture:active {
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}


/* form----------------->*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

/* * {
  margin: 0;
  box-sizing: border-box;
} */

/* body {
  background-color: #6a9ac4;
} */

#contact {
  background-color: #6a9ac4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-box {
  width: clamp(100px, 90%, 1000px);
  margin: 80px 50px;
  display: flex;
  flex-wrap: wrap;
}

.contact-links, .contact-form-wrapper {
  width: 50%;
  padding: 8% 5% 10% 5%;
}


.contact-links {
  background-color: #1f2e43;
  background:
    radial-gradient(
      circle at 55% 92%, #426691 0 12%, transparent 12.2%
    ), 
    radial-gradient(
      circle at 94% 72%, #426691 0 10%, transparent 10.2%
    ), 
    radial-gradient(
      circle at 20% max(78%, 350px), #263a53 0 7%, transparent 7.2%
    ), 
    radial-gradient(
      circle at 0% 0%, #263a53 0 40%, transparent 40.2%
    ), 
    #1f2e43;
  border-radius: 10px 0 0 10px;
}

.contact-form-wrapper {
  background-color: #ffffff8f;
  border-radius: 0 10px 10px 0;
}

@media only screen and (max-width: 800px) {
  .contact-links, .contact-form-wrapper {
    width: 100%;
  }
  
  .contact-links {
    border-radius: 10px 10px 0 0;
  }
  
  .contact-form-wrapper {
    border-radius: 0 0 10px 10px;
  }
}

@media only screen and (max-width: 400px) {
  .contact-box {
    width: 95%;
    margin: 8% 5%;
  }
}

.contact-links h2 {
  font-family: 'Arimo', sans-serif;
  color: #fff;
  font-size: clamp(30px, 6vw, 60px);
  letter-spacing: 2px;
  text-align: center;
  transform: scale(.95, 1);
} 

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
}

.link {
  margin: 10px;
  cursor: pointer;
}

.link img {
  width: 45px;
  height: 45px;
  filter: 
    hue-rotate(220deg)
    drop-shadow(2px 4px 4px #0006);
  transition: 0.2s;
  user-select: none;
} */

img:hover {
  transform: scale(1.1, 1.1);
}

img:active {
  transform: scale(1.1, 1.1);
  filter: 
    hue-rotate(220deg)
    drop-shadow(2px 4px 4px #222)
    sepia(0.3);
}

.form-item {
  position: relative;
}

label, input, textarea {
  font-family: 'Poppins', sans-serif;
}

label {
  position: absolute;
  top: 10px;
  left: 2%;
  color: #999;
  font-size: clamp(14px, 1.5vw, 18px);
  pointer-events: none;
  user-select: none;
}

input, textarea {
  width: 100%;
  outline: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 12px;
  font-size: clamp(15px, 1.5vw, 18px);
}

input:focus+label, 
input:valid+label, 
textarea:focus+label, 
textarea:valid+label {
  font-size: clamp(13px, 1.3vw, 16px);
  color: #777;
  top: -20px;
  transition: all .225s ease;
}

.submit-btn {
  background-color: #fd917e;
  filter: drop-shadow(2px 2px 3px #0003);
  color: #fff;
  font-family: "Poppins",sans-serif;
  font-size: clamp(16px, 1.6vw, 18px);
  display: block;
  padding: 12px 20px;
  margin: 2px auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  transition: 0.2s;
}

.submit-btn:hover {
  transform: scale(1.1, 1.1);
}

.submit-btn:active {
  transform: scale(1.1, 1.1);
  filter: sepia(0.5);
}




